{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h3>Sign In</h3>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <p>
        <label for="id_username">Username:</label>
        <input class="form-control" type="text" name="username" autofocus="" maxlength="254" required="" id="id_username" placeholder="Username">
      </p>
    </div>
    <div class="form-group">
      <p>
        <label for="id_password">Password:</label>
        <input class="form-control" type="password" name="password" required="" id="id_password" placeholder="Password">
      </p>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

{% endblock %}