{% extends "base.html" %} {% block title %}django-todo{% endblock %}

{% block content %}

  <h1>My Tracker</h1>

  <p>
    My Tracker is a
    <i>pluggable</i>, multi-user, multi-group, multi-list todo system.

  <p>
         Planning to go out?
     Don't miss a beat with My Tracker.

  </p>

{% endblock %}