{% extends "base.html" %}

{% block title %}Info task{% endblock title %}

{% block load_script %}

{% endblock load_script %}

{% block content %}


    <h5>ID: {{task.id}}</h5><br>

    <form action="{% url 'update_task' task_id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Name:</label><br>

        <input value="{{task.name}}" disabled id="input_name" class="form-control" name="ch_name"><br>

        {% if block_button == False %}
        <button type="button" style="" onclick="Active('input_name', 'button_name_ok', 'button_name_red')" id="button_name_red" class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden;"
                onclick="Disabled('input_name', 'button_name_ok', 'button_name_red')" id="button_name_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <div class="form-group">
        <label>Description:</label><br>
        <textarea style="height:150%; width: 80%" name="ch_descr" cols="40" rows="10" class="form-control" id="input_descr" disabled>{{task.description}}</textarea>

        {% if block_button == False %}
        <button type="button" onclick="Active('input_descr', 'button_descr_ok', 'button_descr_red')" id="button_descr_red" class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden" onclick="Disabled('input_descr', 'button_descr_ok', 'button_descr_red')"
                id="button_descr_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <div class="form-group">
        <label>Priority:</label><br>
        <select name="ch_priority" class="custom-select" id="input_priority" disabled>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        {% if block_button == False %}
        <button type="button" onclick="Active('input_priority', 'button_priority_ok', 'button_priority_red')" id="button_priority_red"
                class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden" onclick="Disabled('input_priority', 'button_priority_ok', 'button_priority_red')"
                id="button_priority_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <div class="form-group">
        <label>Status: </label><br>
        <select name="ch_status" id="input_status" class="custom-select" disabled>
            <option value=""></option>
            <option value="complete">complete</option>
            <option value="process">process</option>
        </select>

        {% if block_button == False %}
        <button type="button" onclick="Active('input_status', 'button_status_ok', 'button_status_red')" id="button_status_red"
                class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden" onclick="Disabled('input_status', 'button_status_ok', 'button_status_red')"
                id="button_status_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <script>
        function Set_def_on_select(select_value, id_select){
            select = document.getElementById(id_select);
            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].value == select_value) {
                    select.selectedIndex = i;
                }
            }
        }
        Set_def_on_select({{task.priority}}, 'input_priority');
        Set_def_on_select("{{task.status}}", 'input_status');
    </script>


    <div class="form-group">
        <label>Start:</label><br>
        <input name="date_start" class="form-control" type="date" value="{{start_date}}" id="start_date" disabled onblur="ValidateTime('end_date', 'start_date')">
        <input name="time_start" class="form-control" type="time" value="{{start_time}}" id="start_time" disabled>

        {% if block_button == False %}
        <button type="button" onclick="Active_time('start_date', 'start_time', 'button_start_ok', 'button_start_red')" id="button_start_red"
                class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden" onclick="Disabled_time('start_date', 'start_time', 'button_start_ok', 'button_start_red')"
                id="button_start_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <div class="change_time" >
        <label>End:</label><br>
        <input name="date_end" class="form-control" type="date" value="{{end_date}}" id="end_date" disabled onblur="ValidateTime('end_date', 'start_date')">
        <input name="time_end" class="form-control" type="time" value="{{end_time}}" id="end_time" disabled>

        {% if block_button == False %}
        <button type="button" onclick="Active_time('end_date', 'end_time', 'button_end_ok', 'button_end_red')" id="button_end_red"
                class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden" onclick="Disabled_time('end_date', 'end_time', 'button_end_ok', 'button_end_red')"
                id="button_end_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <div class="change_name_type">
        <label>Period:</label><br>

        <input pattern="^[0-9]/[0-9]/[0-9]/[0-9]" style="width:120px" value="{{task.period}}" name="ch_period" disabled id="input_period" class="form-control"><br>

        {% if block_button == False %}
        <button type="button"  onclick="Active('input_period', 'button_period_ok', 'button_period_red')" id="button_period_red" class="info_button">
            <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
        </button>

        <button style="visibility:hidden"
                onclick="Disabled('input_period', 'button_period_ok', 'button_period_red')" id="button_period_ok" class="info_button">
            <span class="oi oi-check" title="check" aria-hidden="true"></span>
        </button><br>
        {% endif %}
    </div>


    <label>Creat time:  {{task.create_time}} </label>
    <label>Last change time:  {{task.change_time}} </label>
    </form>


    <form action="." method="post" style="margin-bottom: 40px">
        {% csrf_token %}
        <div>
            <h5>Admins</h5>
            <input class="form-control" name="new_admin" style="height:30px; width: 140px">
            {% if block_button == False %}
            <button name="add_admin" class="info_button" style="height:30px; width:30px; position: relative; top:-30px; left:150px;">
                <span class="oi oi-plus" title="plus" aria-hidden="true" style="top: 3px"></span>
            </button>
            {% endif %}


                <div>
                    {% for admin in admins %}
                    <div style="display:inline; position:relative; top: -30px">
                        {{ admin }}
                        {% if block_button == False %}
                        <button name="remove_admin" value="{{admin}}" class="removed_button">
                            <span class="oi oi-x" title="x" aria-hidden="true" style=""></span>
                        </button>
                        {% endif %}
                        <label>  </label>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <div>
            <h5>Members</h5>
            <input class="form-control" name="new_member" style="height:30px; width: 140px">
            {% if block_button == False %}
            <button name="add_member" class="info_button" style="height:30px; width:30px; position: relative; top:-30px; left:150px;">
                <span class="oi oi-plus" title="plus" aria-hidden="true" style="top: 3px"></span>
            </button>
            {% endif %}
                <div>
                    {% for member in members %}
                    <div style="display:inline; position:relative; top: -30px">
                        {{ member }}
                        {% if block_button == False %}
                        <button name="remove_member" value="{{member}}" class="removed_button">
                            <span class="oi oi-x" title="x" aria-hidden="true" style=""></span>
                        </button>
                        {% endif %}
                        <label>  </label>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <div>
            <h5>Linked tasks</h5>
            <input class="form-control" name="new_link" style="height:30px; width: 140px">
            {% if block_button == False %}
            <button name="add_link" class="info_button" style="height:30px; width:30px; position: relative; top:-30px; left:150px;">
                <span class="oi oi-plus" title="plus" aria-hidden="true" style="top: 3px"></span>
            </button>
            {% endif %}

            <table class="table" style="position:relative; top: 10px">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th/>
                    <th/>
                </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                    <tr>
                        <td>{{ link.id }}</td>
                        <td>{{ link.name }}</td>
                        <td valign="middle">
                            <button class="info_button" type="submit" value="{{link.id}}" name="info_button">
                                <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td valign="middle">
                            {% if block_button == False %}
                            <button name="remove_link" value="{{link.id}}" class="removed_button">
                                <span class="oi oi-x" title="x" aria-hidden="true" style=" font-size: 100%;"></span>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <h5 style="position: relative; top: 30px">Subtasks</h5>
            {% if block_button == False %}
             <button class="btn btn-primary" id="AddTaskButton" type="button" style="height:30px;position: relative; left:100px;"
              data-toggle="collapse" data-target="#AddEditTask" >Add Task</button>

            {# Task edit / new task form #}
            {% include 'resources/task_edit.html' %}
            {% endif %}

            <table class="table" style="position:relative; top: 40px">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th/>
                </tr>
                </thead>
                <tbody>
                    {% for task in subtasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td valign="middle">
                            <button class="info_button" type="submit" value="{{task.id}}" name="info_button">
                                <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

  <h5>Add comment</h5>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <textarea class="form-control" name="comment-body" rows="3"></textarea>
    </div>
    <input class="btn btn-sm btn-primary" type="submit" name="add_comment" value="Add Comment">
  </form>

  <div class="task_comments mt-4">
    {% if comment_list %}
      <h5>Comments on this task</h5>
      {% for comment in comment_list %}
        <p>
          <strong>
            {{ comment.author.username }},
            {{ comment.date|date:"F d Y P" }}
          </strong>
        </p>
        {{ comment.body|safe|urlize|linebreaks }}
      {% endfor %}
    {% else %}
        <h5>No comments (yet).</h5>
    {% endif %}
  </div>


    <form action="{% url 'projects'%}" method="get" class="button_on_tasks_view">
        <button style="width:85px; height:35px" class="btn btn-secondary" type="submit">Back</button>
    </form>


    <script src="/static/js/scripts.js"></script>
{% endblock content %}