{# Form used by both Add Task and Edit Task views #}

<form action="" name="add_task" method="post">
  {% csrf_token %}


  <div id="AddEditTask" class="collapse mt-3">
        <input name="parent_task" value="{{task_id}}" style="visibility: hidden" >
        <table>
            <tr>
                <td height="120px" width="12%"><label>Name task</label></td>
                <td><input class="form-control" type="text" name="name_task" required/></td>
                <td width="10%" align="center"><label>Priority</label></td>
                <td width="100px">
                    <select style="width:60px" name="priority_task" class="custom-select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center"><label>Description</label></td>
                <td><textarea name="description" cols="40" rows="10" class="form-control"></textarea></td>
            </tr>
            <tr>
                <td height="120px"><label>Start time</label></td>
                <td>
                    <table>
                        <tr>
                            <td><input name="date_start" class="form-control" type="date" id="add_start_date" onblur="ValidateTime('add_end_date', 'add_start_date')"></td>
                            <td><input name="time_start" class="form-control" type="time" id="add_start_time"></td>
                        </tr>
                    </table>
                <td align="center"><label>End time</label></td>
                <td>
                    <table>
                        <tr>
                            <td><input name="date_end" class="form-control" type="date" id="add_end_date" onblur="ValidateTime('add_end_date', 'add_start_date')"></td>
                            <td><input name="time_end" class="form-control" type="time" id="add_end_time"></td>
                        </tr>
                    </table>
                </td>
                <td align="center"><label>Period</label></td>
                <td><input pattern="^[0-9]/[0-9]/[0-9]/[0-9]" name="period" class="form-control" type="text" placeholder="m/d/H/M"></td>
                <td></td>
            </tr>
        </table>

    <p>
      <input type="submit" name="create" value="Submit" class="btn btn-primary">
    </p>

  </div>
</form>
