{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3237744-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-3237744-5');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Tracker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'images/buttons/open-iconic/font/css/open-iconic-bootstrap.css' %}"/>
    {% block load_style %} {% endblock load_style %}
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">

    {# Additional CSS or html head data inserted by templates here. #}
    {% block extrahead %}{% endblock extrahead %}

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #3400A6;">
        <a class="navbar-brand" href="/">My Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'projects' %}" class="nav-link">Projects</a></li>
              <li class="nav-item"><a href="{% url 'mine' %}" class="nav-link">My Tasks</a></li>
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>

            {% else %}
              <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
              <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"> Sign Up</a></li>
            {% endif %}
          </ul>

           {% if user.is_authenticated %}
      		  <form class="form-inline mt-2 mt-md-0" action="{% url 'search' %}" method="get" placeholder="Search" aria-label="Search">
              <input type="text" name="q" value="" class="form-control mr-sm-2" id="q">
              <input type="submit" value="Search Tasks" class="btn btn-outline-success my-2 my-sm-0">
            </form>
          {% endif %}

        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
        {% endfor %}
      {% endif %}

      <p>{{ form.errors }}</p>

      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          My Tracker, {% now "Y" %}.
          {% if user.is_authenticated %}Logged in as {{ user.username }}{% endif %}</span>
      </div>
    </footer>

    <!-- jQuery and Bootstrap core JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>